
  <%= link_to gravatar_for(listup_user, size: 50), listup_user %>
  <span class="user"><%= link_to listup_user.name, listup_user %></span>
  
    <% if @user.following?(listup_user) && listup_user.following?(@user) %>
      <span class="glyphicon glyphicon-transfer" aria-hidden="true"></span>
    <% end %>
    
  <br><br><br>